/* Basic CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: #070c07eb; /* Light background color */
    text-align: center;
    padding: 50px;
}

header h1 {
    color: #206db9; /* Dark color for header text */
}

button {
    background-color: #e7d518; /* Blue button color */
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
