/* Basic CSS styles */
body {
    font-family: Arial, sans-serif;
    background-color: #372446eb; /* Light background color */
    text-align: center;
    padding: 50px;
}

header h1 {
    color: #206db9; /* Dark color for header text */
}
.tag{
    font-size: 15px;
}
.btn {
    
    background-color: #e610adeb; /* Blue button color */
    color: hsl(0, 21%, 45%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
.btn_filled{
    color: blue;
    border: 1px solid blue;
    background-color: green;
}
.btn_what{
    color: blue;
    border: 1px solid rgb(1, 7, 11);
    background-color: green;
}

button:hover {
    background-color: #2980b9; /* Darker blue on hover */
}
